.fakeBookPoster {
  width: 150px;
  height: 200px;

  box-sizing: border-box;

  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000000;
  box-shadow: 10px 10px 10px 4px rgba(100,100,100,0.4);

  &__title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    color: white;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}